*{
    padding: 0;
    margin: 0;
    
}
.container{
    background-image: url("https://c8.alamy.com/comp/2CTW0CP/businesspeople-handle-bitcoin-money-represent-modern-digital-technology-of-cryptocurrency-concept-2CTW0CP.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.crypto-card{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
}
.select-box{
    display: flex;
    justify-content: space-between;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

h1{
    color: white;
}